*{ 
    margin:0;
    padding:0;
    outline:0;
}
body{
	color:#343E47;
        font-weight: normal;
        font-family: open_sansregular, Arial, Helvetica, sans-serif;
        font-size: 14px;
	background:#fff;
}
.header{
	background:#fff; 
	min-width:1200px;
	max-width:1600px;
	margin:10px auto;
        text-align: center;
        font-size: 30px;
}
a{
    display: inline-block;
    width: 110px;
    text-align: center;
    border: #33ccff solid 1px;
    text-decoration: none;
}
.btn-conteiner{
    float: left;
    width: 50%;
    vertical-align: middle;
}
.btn-conteiner-chat{
    float: left;
}
.btn-conteiner a, .btn-conteiner-chat a{
    line-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
}
.btn-conteiner.left{
     text-align: right;
}
.left a{
    margin-right: 5px;
    background-color: #0099cc;
    color: #fff;
}
.left a:hover, .right a:hover{
    background-color: #66ccff;
}
.left a:active, .right a:active{
    background-color: #99ccff;
}
.right a{
    margin-left: 5px;
    color:#343E47;
}
.form-conteiner{
    width: 310px;
    margin: 0 auto 10px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}
input{
    height: 30px;
    border: #343E47 solid 1px;
    border-radius: 5px;
    padding-left: 10px;
}
.form-conteiner input{
    width: 300px;
}
.error{
    margin:5px auto;
    max-width: 470px;
    border:3px solid #CE7C54;
    padding:15px!important;
    color: #CE7C54;
    background:rgba(243,147,99,0.2);   
    border-color: #CE7C54;
    font-size: 20px;
    text-align: left;
}
.error ul{
    padding-left: 30px;
}
.success{
    margin:5px auto;
    max-width: 470px;
    border:3px solid #CE7C54;
    padding:15px!important;
    color: #82B16A;
    background:rgba(154,209,125,0.2);   
    border-color: #9AD17D;
    font-size: 20px;
}
.chat_content{
    padding: 20px;
}
.chat_content form input{
    width: 50%;
    max-width: 700px;
    display: block;
    float: left;
}
.chat_content span{
    display: block;
    float: left;
    margin-right: 30px;
    line-height: 30px;
}
.btn-conteiner-chat.send a{
    background-color: #9AD17D;
    margin-left: 20px;
}
.btn-conteiner-chat.send a:hover{
    background-color: #33cc00;
}
.btn-conteiner-chat.send a:active{
    background-color: #82B16A;
}
.btn-conteiner-chat.exit a{
    background-color: #cc3300;
}
.btn-conteiner-chat.exit a:hover{
    background-color: #cc6600;
}
.btn-conteiner-chat.exit a:active{
    background-color: #cc0066;
}
.btn-conteiner-chat.exit{
    float: right;
}
.btn-conteiner-chat a{
    color:#fff;
    border: none;
}